<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ling.yu.mus.yulmus_example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
   <application
        android:label="yulmus_example"
        android:name=".AliApplication"
        android:icon="@mipmap/ic_launcher">

       <meta-data
           android:name="com.alibaba.app.appkey"
           android:value="333401873" /> <!-- 请填写你自己的- appKey -->
       <meta-data
           android:name="com.alibaba.app.appsecret"
           android:value="d85f9fa2498f44f9bcf332beebae5bc8" /> <!-- 请填写你自己的appSecret -->
       <meta-data
           android:name="com.huawei.hms.client.appid"
           android:value="" />
       <meta-data
           android:name="com.xiaomi.push.client.app_id"
           android:value=""/>
       <meta-data
           android:name="com.xiaomi.push.client.app_key"
           android:value="" />
       <meta-data
           android:name="com.oppo.push.client.app_key"
           android:value="" />
       <meta-data
           android:name="com.oppo.push.client.app_secret"
           android:value="" />
       <meta-data
           android:name="com.meizu.push.client.app_id"
           android:value="" />
       <meta-data
           android:name="com.meizu.push.client.app_key"
           android:value="" />
       <meta-data
           android:name="com.vivo.push.app_id"
           android:value="" />
       <meta-data
           android:name="com.vivo.push.api_key"
           android:value="" />
       <meta-data
           android:name="com.gcm.push.send_id"
           android:value="" />
       <meta-data
           android:name="com.gcm.push.app_id"
           android:value="" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
       <activity android:name="cn.ling.yu.mus.yulmus.push.ThirdPushPopupActivity" android:exported="true"/>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
