<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ling.yu.mus.yulmus">

    <application>
        <service
            android:name=".push.AliPushIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </service>
    </application>
</manifest>
